<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
	<title>Editar DCL</title>
	<!-- <h2 style="margin_down:20; outline: black solid; text-align:center">Aca saldra un enunciado </h2> -->
	<style>
		body {
			margin_top: 20;
			margin_left: 20;
			overflow: scroll;
			background-color: #f0f0f0;
			outline: black solid
		}
	</style>
  <div class="container">
    <div class="row mb-3">
      <div class="text-center row align-item-center">
        <div class="col" style="background-color: #393E46">
          <h3 for="exampleFormControlTextarea1" class="form-label" style="margin-top:20px; color: #EEEEEE">Enunciado</h3>
        </div>
      </div>
      <h3 id="statement-text" style="margin-top:15px">{{ homework.statement_text }}</h3>
    </div>
  </div>
</head>
<body>
	<h6 id="homework-details" data-homework-Fx="{{ homework.Fx }}" data-homework-Fy="{{ homework.Fy }}" data-homework-diagram2="{{ homework.diagram2 }}" data-homework-id="{{ homework.id }}" data-homework-diagram = "{{ homework.diagram }}" data-homework-statement="{{ homework.statement_text }} " data-homework-difficulty="{{ homework.difficulty }} "></h6>
    
	<div id="container" style="margin-left: 20px"></div>
	<script>
  	var alto = window.innerHeight - 200;
		var largo = window.innerWidth - 30;
		var shadowOffset = 20;
		var tween = null;
		var blockSnapSize = 30;

		var shadowRectangle = new Konva.Rect({
			x: 0,
			y: 0,
			width: blockSnapSize,
			height: blockSnapSize,
			fill: '#FF7B17',
			opacity: 0.6,
			stroke: '#CF6412',
			strokeWidth: 3,
			dash: [20, 2]
		});
      
			data = $("#homework-details").data("homeworkDiagram2")
      console.log("data:")
      console.log(data)

			//var stage = Konva.Node.create(data, "container")

      function loadForm(json, counter){
        
        objects=json["children"][0]["children"]

        var fuerzas  = []
        var momentos = []
        var incognitas = []
        
        
        for (var i = 0; i<objects["length"]; i++){
          

          if(objects[i]["className"]=="Rect"){
            if(objects[i]["attrs"]["name"]=='barra'){
                item=objects[i]
                
                newBarra(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["width"],item["attrs"]["rotation"], layer, stage)
                
              }
          }

          if( String( objects[i]["attrs"]["name"] ).substring(0,7) == 'momento' && String( objects[i]["attrs"]["name"] ).substring(8,12) != "tool" && String( objects[i]["attrs"]["stroke"] ) == "black"){
            item=objects[i]
            counter[6] = counter[6] + 1
            num = String(item["attrs"]["name"]).split("_")[1]
            
            
            for (var j = 0; j<objects["length"]; j++){
              
              if(String( objects[j]["attrs"]["name"] ).split("_")[0] == 'textMoment' && String( objects[j]["attrs"]["name"] ).split("_")[1] == num){
                magn = String(objects[j]["attrs"]["text"])
                
                item["attrs"]["magnitud"] = magn
              }
            }
            newMomento(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage, num, item["attrs"]["magnitud"])
            
            var newM = [];

            newM.push(item["attrs"]["name"], item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], item["attrs"]["magnitud"])
            momentos.push(newM)
          }
      
          
          
          if(objects[i]["className"]=="Arrow"){
            if(String( objects[i]["attrs"]["name"] ).substring(0,5) == 'arrow' && String( objects[i]["attrs"]["name"] ).substring(6,10) != "tool" && String( objects[i]["attrs"]["stroke"])  == "red"){
                item=objects[i]
                counter[0] = counter[0] + 1
                num = String(item["attrs"]["name"]).split("_")[1]
                
                
                for (var j = 0; j<objects["length"]; j++){
                  
                  if(String( objects[j]["attrs"]["name"] ).split("_")[0] == 'textArrow' && String( objects[j]["attrs"]["name"] ).split("_")[1] == num){
                    magn = String(objects[j]["attrs"]["text"])
                    
                    item["attrs"]["magnitud"] = magn
                  }
                }
                newArrow(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage, num, item["attrs"]["magnitud"])
                
                var newForce = [];

                newForce.push(item["attrs"]["name"], item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], item["attrs"]["magnitud"])
                fuerzas.push(newForce)
            }
          }
          
          
          if(objects[i]["className"]=="Circle" || objects[i]["className"]=="Line"){
            
            if(String( objects[i]["attrs"]["name"] ).substring(0,5) == 'punto' && String( objects[i]["attrs"]["name"] ).substring(6,10) != "tool"){
              item=objects[i]
              counter[7] = counter[7] + 1
              newPunto(item["attrs"]["x"], item["attrs"]["y"], layer, stage)
              var punto = [item["attrs"]["x"], item["attrs"]["y"]]
            }
            
            
            
          }
        }
          
          return {fuerzas, momentos, incognitas, punto};
        }   


      const stage = new Konva.Stage({
          container: 'container',
          width: largo,
          height: alto
        });
		
      
			var layer = new Konva.Layer();
				
			var padding = 30;
			for (var i = 0; i < (largo / padding) - 2; i++) {
				layer.add(new Konva.Line({
					points: [Math.round(i * padding) + 0.5, 0, Math.round(i * padding) + 0.5, alto],
					stroke: '#000000',
					strokeWidth: 1,
				}));
			}
			layer.add(new Konva.Line({points: [0,0,10,10]}));
      
			for (var j = 0; j < (largo / padding); j++) {
				layer.add(new Konva.Line({
					points: [0, Math.round(j * padding), largo - 85, Math.round(j * padding)],
					stroke: '#000000',
					strokeWidth: 0.5,
				}));
			}
      function calcularFXYM(incognitas, Fx, Fy, momentos, punto){
       
        var sumaX = 0
        var sumaY = 0
        var incX = []
        var incY = []
        var strX = ""
        var strY = ""
        var strM = ""

        // PARA LAS FUERZAS EN EJE X E Y
        for(var i = 0; i<Fx.length; i++){
          sumaX += Fx[i][1]
        }
        for(var i = 0; i<Fy.length; i++){
          sumaY += Fy[i][1]
        }


        for(var i = 0; i<incognitas.length; i++){
          if(String(incognitas[i][0]).split("_")[0] == "fijo"){
            incX.push(incognitas[i][4])
            incY.push(incognitas[i][5])
          }

          if(String(incognitas[i][0]).split("_")[0] == "deslizante"){

            if(incognitas[i][3] == 90 || incognitas[i][3] == -90 ){
              incX.push(incognitas[i][4])
            }
            else{
              incY.push(incognitas[i][4])
            }
          }

          if(String(incognitas[i][0]).split("_")[0] == "empotrado"){
            incX.push(incognitas[i][4])
            incY.push(incognitas[i][5])
          }
        }

        // PARA EL MOMENTO
        var sumaM = []

        for(var i = 0; i<Fx.length; i++){
          sumaM.push( Fx[i][1] * Math.round(punto[1] - Fx[i][3]) * -1)
        }
        for(var i = 0; i<Fy.length; i++){
          sumaM.push( Fy[i][1] * Math.round(punto[0] - Fy[i][2]) * -1)
        }
        for(var i = 0; i<momentos.length; i++){
          sumaM.push( momentos[i][4])
        }

        for(var i = 0; i<incognitas.length; i++){
          if(String(incognitas[i][0]).split("_")[0] == "fijo"){
            sumaM.push(incognitas[i][4] + "*" + String(Math.round(punto[1] - incognitas[i][2]) * -1))
            sumaM.push(incognitas[i][5] + "*" + String(Math.round(punto[0] - incognitas[i][1]) * -1))
          }

          if(String(incognitas[i][0]).split("_")[0] == "deslizante"){

            if(incognitas[i][3] == 90 || incognitas[i][3] == -90 ){
              sumaM.push(incognitas[i][4] + "*" + String(Math.round(punto[1] - incognitas[i][2]) * -1))
            }
            else{
              sumaM.push(incognitas[i][4] + "*" + String(Math.round(punto[0] - incognitas[i][1]) * -1))
            }
          }

          if(String(incognitas[i][0]).split("_")[0] == "empotrado"){
            sumaM.push(incognitas[i][4] + "*" + String(Math.round((punto[1] - incognitas[i][2])) * -1))
            sumaM.push(incognitas[i][5] + "*" + String(Math.round((punto[0] - incognitas[i][1])) * -1))
            sumaM.push(incognitas[i][6])
          }
        }



        strX += String(sumaX) 
        for(var i = 0; i<incX.length; i++){
          strX += "+" + incX[i]
        }

        strY += String(sumaY) 
        for(var i = 0; i<incY.length; i++){
          strY += "+" + incY[i]
        }

        
        for(var i = 0; i<sumaM.length; i++){
          strM += "+" + String(sumaM[i])
        }

        strX += "=0"
        strY += "=0"
        strM += "=0"



        return {strX, strY, strM}

      }


      function cambiarPosInc(incognitas){

        for( i=0; i<incognitas.length; i++){

          if(incognitas[i][3] == undefined){
            incognitas[i][3] = 0
          }

          if(String(incognitas[i][0]).split("_")[0] == "fijo"){

            if( Math.round(incognitas[i][3]) == 0){
              incognitas[i][1] = incognitas[i][1] + 0
              incognitas[i][2] = incognitas[i][2] - 15
            }

            else if( Math.round(incognitas[i][3]) == -90){
              incognitas[i][1] = incognitas[i][1] - 15
              incognitas[i][2] = incognitas[i][2] - 0
            }

            else if( Math.round(incognitas[i][3]) == 180 || Math.round(incognitas[i][3]) == -180){
              incognitas[i][1] = incognitas[i][1] - 0
              incognitas[i][2] = incognitas[i][2] + 15
            }


            else if( Math.round(incognitas[i][3]) == 90){
              incognitas[i][1] = incognitas[i][1] + 15
              incognitas[i][2] = incognitas[i][2] - 0
            }

          }

          else if(String(incognitas[i][0]).split("_")[0] == "deslizante"){
            if( Math.round(incognitas[i][3]) == 0){
              incognitas[i][1] = incognitas[i][1] + 15
              incognitas[i][2] = incognitas[i][2] - 30
            }

            else if( Math.round(incognitas[i][3]) == -90){
              incognitas[i][1] = incognitas[i][1] - 30
              incognitas[i][2] = incognitas[i][2] - 15
            }

            else if( Math.round(incognitas[i][3]) == 180 || Math.round(incognitas[i][3]) == -180){
              incognitas[i][1] = incognitas[i][1] - 15
              incognitas[i][2] = incognitas[i][2] + 30
            }


            else if( Math.round(incognitas[i][3]) == 90){
              incognitas[i][1] = incognitas[i][1] + 30
              incognitas[i][2] = incognitas[i][2] + 15
            }
          }

          else if(String(incognitas[i][0]).split("_")[0] == "empotrado"){
            if( Math.round(incognitas[i][3]) == 0){
              incognitas[i][1] = incognitas[i][1] + 15
              incognitas[i][2] = incognitas[i][2] - 30
            }

            else if( Math.round(incognitas[i][3]) == -90){
              incognitas[i][1] = incognitas[i][1] - 30
              incognitas[i][2] = incognitas[i][2] - 15
            }

            else if( Math.round(incognitas[i][3]) == 180 || Math.round(incognitas[i][3]) == -180){
              incognitas[i][1] = incognitas[i][1] - 15
              incognitas[i][2] = incognitas[i][2] + 30
            }


            else if( Math.round(incognitas[i][3]) == 90){
              incognitas[i][1] = incognitas[i][1] + 30
              incognitas[i][2] = incognitas[i][2] + 15
            }
          }
          
        }

        return incognitas;
      }

      function cambiarPosMom(momentos){
        
        for( i=0; i<momentos.length; i++){
          
          momentos[i][2] = momentos[i][2] + 7.5;
           
        }

        return momentos;
      }

      function cambiarPos(fuerzas){
        

        for( i=0; i<fuerzas.length; i++){
          if(fuerzas[i][3] == undefined){
            fuerzas[i][3] = 0
          }
          
          if( Math.round(fuerzas[i][3]) == 0){
            
            fuerzas[i][1] = fuerzas[i][1] + 75
            
          }

          else if( Math.round(fuerzas[i][3]) == 45){
            fuerzas[i][1] = fuerzas[i][1] + 60
            fuerzas[i][2] = fuerzas[i][2] + 60
          }

          else if( Math.round(fuerzas[i][3]) == 90){
            fuerzas[i][1] = fuerzas[i][1] - 0
            fuerzas[i][2] = fuerzas[i][2] + 75
          }

          else if( Math.round(fuerzas[i][3]) == 135){
            fuerzas[i][1] = fuerzas[i][1] - 60
            fuerzas[i][2] = fuerzas[i][2] + 60
          }

          else if( Math.round(fuerzas[i][3]) == 180 ||  Math.round(fuerzas[i][3]) == -180 ){
            fuerzas[i][1] = fuerzas[i][1] - 75
            fuerzas[i][2] = fuerzas[i][2] - 0
          }

          else if( Math.round(fuerzas[i][3]) == -135){
            fuerzas[i][1] = fuerzas[i][1] - 55
            fuerzas[i][2] = fuerzas[i][2] - 55
          }

          else if( Math.round(fuerzas[i][3]) == -90){
            fuerzas[i][1] = fuerzas[i][1] - 0
            fuerzas[i][2] = fuerzas[i][2] - 75
          }

          else if( Math.round(fuerzas[i][3]) == -45){
            fuerzas[i][1] = fuerzas[i][1] + 60
            fuerzas[i][2] = fuerzas[i][2] - 60
          }

        }
        return fuerzas
      }

      function descomponerFuerzas(fuerzas){

        var Fx = []
        var Fy = []

        for( i=0; i<fuerzas.length; i++){
          if(fuerzas[i][3] == undefined){
            fuerzas[i][3] = 0
          }
          
          if( Math.round(fuerzas[i][3]) == 0){
            var f = []
            f.push(fuerzas[i][0], parseInt(fuerzas[i][4]), Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            Fx.push(f)
          }

          else if( Math.round(fuerzas[i][3]) == 45){
            var fx = []
            var fy = []

            f = -0.707 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)

            f = 0.707 * parseInt(fuerzas[i][4])
            fx.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            Fx.push(fx)
          }

          else if( Math.round(fuerzas[i][3]) == 90){
            var fy = []

            f = -1 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)
          }

          else if( Math.round(fuerzas[i][3]) == 135){
            var fx = []
            var fy = []

            f = -0.707 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)

            f = -0.707 * parseInt(fuerzas[i][4])
            fx.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            Fx.push(fx)
          }

          else if( Math.round(fuerzas[i][3]) == 180 ||  Math.round(fuerzas[i][3]) == -180 ){
            var fx = []

            f = -1 * parseInt(fuerzas[i][4])
            fx.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fx.push(fx)
          }

          else if( Math.round(fuerzas[i][3]) == -135){
            
            var fx = []
            var fy = []

            f1 = 0.707 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f1, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)

            f = -0.707 * parseInt(fuerzas[i][4])
            fx.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            Fx.push(fx)

            
          }

          else if( Math.round(fuerzas[i][3]) == -90){
            var fy = []

            f = 1 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)
          }

          else if( Math.round(fuerzas[i][3]) == -45){
            var fx = []
            var fy = []

            f = 0.707 * parseInt(fuerzas[i][4])
            fy.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            
            Fy.push(fy)

            f = 0.707 * parseInt(fuerzas[i][4])
            fx.push(fuerzas[i][0], f, Math.round(fuerzas[i][1]), Math.round(fuerzas[i][2]))
            Fx.push(fx)
          }

        }
        return {Fx, Fy}
      }


      function getPointsBArra(x, y, r, width){

        x = Math.round(x);
        y = Math.round(y);
        r = Math.round(r);

        var x1;
        var y1;
        var x2;
        var y2;
        var x3;
        var y3;
        var x4;
        var y4;

        if(r == 0){
          x1 = x;
          y1 = y;
          x2 = x + width;
          y2 = y;
          x3 = x + width;
          y3 = y + 30;
          x4 = x;
          y4 = y + 30;
        }

        else if(r == 90){
          x1 = x;
          y1 = y;
          x2 = x;
          y2 = y + width;
          x3 = x - 30;
          y3 = y + width;
          x4 = x - 30;
          y4 = y;
        }

        else if(r == 180 || r == -180){
          x1 = x;
          y1 = y;
          x2 = x - width;
          y2 = y;
          x3 = x - width;
          y3 = y - 30;
          x4 = x;
          y4 = y - 30;
        }

        else if(r == -90){
          x1 = x;
          y1 = y;
          x2 = x;
          y2 = y - width;
          x3 = x + 30;
          y3 = y - width;
          x4 = x + 30;
          y4 = y;
        }

        console.log(x1, y1)
        console.log(x2, y2)
        console.log(x3, y3)
        console.log(x4, y4)

        return {x1, y1, x2, y2, x3, y3, x4, y4}
      }

      function setDclArrows() {
        
        let eje = prompt("En que eje esta sta fuerza? (x / y)");

        if (eje == "x") {
          eje = "x"
        } 
        
        else if (eje == "y") {
          eje = "y"
        } 
        
        return eje;
      }

      ejex = 0
      ejey = 0
      strikes = 0

			function newArrow(x, y, rotation = 0, layer, stage, count, magnitud = 0) {
				var arrow = new Konva.Arrow({
					x: x,
					y: y,
					points: [0, 0, 75, 0],
					pointerLength: 2,
					pointerWidth: 2,
					fill: 'black',
					stroke: 'black',
					strokeWidth: 4,
					shadowColor: 'black',
					shadowBlur: 2,
					shadowOffset: {x : 1, y : 1},
					shadowOpacity: 0.4,
					draggable: true,
					rotation: 0,
          name: "arrow_" + count.toString(),
          rotation: rotation,
          magnitud: magnitud,
				});

        stage.on('click tap', function (e) {
          if (e.target === arrow) {

            //console.log(Math.round(e.target.attrs.rotation))
            eje = setDclArrows()
            //QUIZAS ACA HACER CONDICIONES PARA PILLAR HINT
            if ((eje == "x" && Math.round(e.target.attrs.rotation) == 0) || (eje == "x" && Math.round(e.target.attrs.rotation) == -180) || (eje == "x" && Math.round(e.target.attrs.rotation) == 180)){
              e.target.hide()
              ejex++
              console.log(ejex)
              console.log("X")
            }  

            else if ((eje == "y" && Math.round(e.target.attrs.rotation) == 90) || (eje == "y" && Math.round(e.target.attrs.rotation) == -90) ){
              e.target.hide()
              ejey++
              console.log(ejey)
              console.log("Y")
            }
            
            else {
              alert("¡Intenta de nuevo! Este elemento... ¿en que direccion apunta?")
              strikes += 1
              console.log("Sali")
            }
          }
        });

				arrow.on('dragstart', (e) => {
					shadowRectangle.show();
					shadowRectangle.moveToTop();
					arrow.moveToTop();
          previous_rot = arrow.rotation();
				});
        
				arrow.on('dragend', (e) => {
          

          if(arrow.rotation() == 0){
            arrow.position({
              x: Math.round((arrow.x() ) / blockSnapSize) * blockSnapSize + 15 ,
              y: Math.round((arrow.y() ) / blockSnapSize) * blockSnapSize 
            });
          }
          else if(Math.round(arrow.rotation()) == 45){
            arrow.position({
              x: Math.round((arrow.x() + 15) / blockSnapSize) * blockSnapSize ,
              y: Math.round((arrow.y() + 15) / blockSnapSize) * blockSnapSize 
            });
          }
          else if(Math.round(arrow.rotation()) == 90){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize + 30,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize + 15
            });
          }
          else if(Math.round(arrow.rotation()) == 135){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize + 0,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize + 0
            });
          }
          else if(Math.round(arrow.rotation()) == -180 || Math.round(arrow.rotation()) == 180){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize - 15,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize + 0
            });
          }
          else if(Math.round(arrow.rotation()) == -135){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize - 35,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize - 5
            });
          }
          else if(Math.round(arrow.rotation()) == -90){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize + 30,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize - 15
            });
          }
          else if(Math.round(arrow.rotation()) == -45){
            arrow.position({
              x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize + 0,
              y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize + 0
            });
          }
				stage.batchDraw();
				shadowRectangle.hide();
        after_rot = arrow.rotation();
        if ([0,90,180,270,360].includes(Math.abs(previous_rot)) && (![0,90,180,270,360].includes(Math.abs(after_rot)))){
          dificultad += 1;
        } else if (![0,90,180,270,360].includes(Math.abs(previous_rot)) && ([0,90,180,270,360].includes(Math.abs(after_rot)))){
          dificultad -= 1;
        } 
				});
				arrow.on('dragmove', (e) => {
          if(arrow.rotation() == 0){
            shadowRectangle.position({
              x: Math.round((arrow.x() + 60) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() ) / blockSnapSize) * blockSnapSize
            });
          }

          else if(Math.round(arrow.rotation()) == 90){
            shadowRectangle.position({
              x: Math.round((arrow.x() + 0) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() + 60) / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(arrow.rotation()) == 135){
            shadowRectangle.position({
              x: Math.round((arrow.x() - 60) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() + 30) / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(arrow.rotation()) == -180 || Math.round(arrow.rotation()) == 180){
            shadowRectangle.position({
              x: Math.round((arrow.x() - 90) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() + 0) / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(arrow.rotation()) == -135){
            shadowRectangle.position({
              x: Math.round((arrow.x() - 90) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() - 60) / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(arrow.rotation()) == -90){
            shadowRectangle.position({
              x: Math.round((arrow.x() - 0) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() - 90) / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(arrow.rotation()) == -45){
            shadowRectangle.position({
              x: Math.round((arrow.x() + 30) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() - 60) / blockSnapSize) * blockSnapSize
            });
          }


          else {
            shadowRectangle.position({
              x: Math.round((arrow.x() + 45) / blockSnapSize) * blockSnapSize,
              y: Math.round((arrow.y() + 45) / blockSnapSize) * blockSnapSize
            });
          }
				
				stage.batchDraw();
				});

				var tr = new Konva.Transformer({
					nodes: [arrow],
					centeredScaling: false,
					resizeEnabled: false,
					rotation: 0,
          rotationSnaps: [0, 45, 90, 135, 180, 225, 270, 315, 360],
          rotationSnapTolerance: 22.5,
				});
				layer.add(tr);

        layer.add(arrow);
        stage.on('click tap', function (e) {
          if (e.target === arrow) {
            tr.nodes([arrow]);
          }
          // if click on empty area - remove all selections
          if (e.target === stage) {
            tr.nodes([]);
            return;
          }

          const metaPressed = e.evt.ctrlKey;
          const isSelected = tr.nodes().indexOf(e.target) >= 0;

          if (metaPressed && isSelected) {
            if (e.target === arrow){
              if ([0,90,180,270,360].includes(Math.abs(arrow.rotation()))){
                dificultad -= 1;
              } else{
                dificultad -= 2;
              }
            }
            // if we pressed keys and node was selected
            // we need to remove it from selection:
            tr.nodes([]);
            const nodes = e.target.destroy(); // use slice to have new copy of array
            // remove node from array
          }
        });

        /// fuerza en arrow

        var textNode = new Konva.Text({
          text: magnitud,
          x: arrow.x() + 10,
          y: arrow.y() + 10,
          fontSize: 13,
          name: "textArrow_" + count.toString(),
        });

        var textInfo= new Konva.Text({
          text: "X:" + String(Math.round(arrow.x())) + " Y:" + String(Math.round(arrow.y())) + " R:" + String(Math.round(arrow.rotation())),
          x: arrow.x() + 20,
          y: arrow.y() + 23,
          fontSize: 13,
          fill: 'black',
          

        });

        arrow.on('dragend', (e) => {
          textInfo.position({
            x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize - 45,
            y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize + 33

          });
          stage.batchDraw();

          textInfo.text("X:" + String(Math.round(arrow.x())) + " Y:" + String(Math.round(arrow.y())) + " R:" + String(Math.round(arrow.rotation())))
          
        });
        
        layer.add(textInfo);
        layer.add(textNode);
        
  
        layer.add(textNode);

        arrow.on('dragstart', (e) => {
					textNode.moveToTop();
				});
        
				arrow.on('dragend', (e) => {

          textNode.position({
            x: Math.round((arrow.x() ) / blockSnapSize) * blockSnapSize + 15,
            y: Math.round((arrow.y() ) / blockSnapSize) * blockSnapSize + 15
          });
          
          stage.batchDraw();
          
				});
  
        textNode.on('dblclick dbltap', () => {
         
          var textPosition = textNode.getAbsolutePosition();
          var stageBox = stage.container().getBoundingClientRect();
  
          var areaPosition = {
            x: arrow.x() + 15,
            y: arrow.y() + 15,
          };
  
          // create textarea and style it
          var textarea = document.createElement('textarea');
          document.body.appendChild(textarea);
  
          textarea.value = textNode.text();
          textarea.style.position = 'absolute';
          textarea.style.top = areaPosition.y + 'px';
          textarea.style.left = areaPosition.x + 'px';
          textarea.style.width = textNode.width();
  
          textarea.focus();
  
          textarea.addEventListener('keydown', function (e) {
            // hide on enter
            if (e.keyCode === 13) {
              textNode.text(textarea.value);
              arrow.magnitud = textarea.value;
              document.body.removeChild(textarea);
            }
          });
        });

        // fuerza en arrow

      }

      function newBarra(x, y, width, rotation, layer, stage) {
        var barra = new Konva.Rect({
          x: x,
          y: y,
          width: width,
          height: 30,
          fill: 'gray',
          stroke: 'black',
          strokeWidth: 1,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true,
          name: "barra",
          rotation: rotation,
        });

        barra.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          barra.moveToTop();
          console.log(barra.x(), barra.y(), barra.rotation(), barra.width())
          getPointsBArra(barra.x(), barra.y(), barra.rotation(), barra.width())
        });
        barra.on('dragend', (e) => {

          if(Math.round(barra.rotation()) == 0){
            barra.position({
              x: Math.round(barra.x() / blockSnapSize) * blockSnapSize,
              y: Math.round(barra.y() / blockSnapSize) * blockSnapSize
            });
          }
          else if(Math.round(barra.rotation()) == 90){
            barra.position({
              x: Math.round(barra.x() / blockSnapSize) * blockSnapSize + 30,
              y: Math.round(barra.y() / blockSnapSize) * blockSnapSize
            });
          }

          else if(Math.round(barra.rotation()) == 180 || Math.round(barra.rotation()) == -180){
            barra.position({
              x: Math.round(barra.x() / blockSnapSize) * blockSnapSize + 30,
              y: Math.round(barra.y() / blockSnapSize) * blockSnapSize + 30
            });
          }

          else if(Math.round(barra.rotation()) == -90){
            barra.position({
              x: Math.round(barra.x() / blockSnapSize) * blockSnapSize,
              y: Math.round(barra.y() / blockSnapSize) * blockSnapSize + 30
            });
          }
          stage.batchDraw();
          shadowRectangle.hide();
        });
        barra.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(barra.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(barra.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        var tr = new Konva.Transformer({
					nodes: [barra],
					centeredScaling: false,
					resizeEnabled: false,
					rotation: 0,
          rotationSnaps: [0, 45, 90, 135, 180, 225, 270, 315, 360],
          rotationSnapTolerance: 22.5,
				});
				layer.add(tr);
        layer.add(barra);
        
        stage.on('click tap', function (e) {
          if (e.target === barra) {
            tr.nodes([barra]);
          }
          // if click on empty area - remove all selections
          if (e.target === stage) {
            tr.nodes([]);
            return;
          }
          const metaPressed = e.evt.ctrlKey;
          const isSelected = tr.nodes().indexOf(e.target) >= 0;

          if (metaPressed && isSelected) {
            // if we pressed keys and node was selected
            // we need to remove it from selection:
            tr.nodes([]);
            const nodes = e.target.destroy(); // use slice to have new copy of array
            // remove node from array
          }
        });
        stage.on('dblclick', function (e) {
          if (e.target === barra) {
            e.target.moveDown();
          }
        });
        

        
      }

    
      function newMomento(x, y, rotation, layer, stage, count, magnitud="M") {
        
        let momento = new Konva.Arc({
          x: x,
          y: y,
          innerRadius: 10,
          outerRadius: 20,
          angle: 180,
          fill: 'yellow',
          stroke: 'black',
          strokeWidth: 4,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true,
          name: "momento_" + count.toString(),
          rotation: rotation,
          magnitud: magnitud
        });
        
        momento.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          momento.moveToTop();
          console.log(momento.name())
        });
        momento.on('dragend', (e) => {
          momento.position({
            x: Math.round(momento.x() / blockSnapSize) * blockSnapSize + 15,
            y: Math.round(momento.y() / blockSnapSize) * blockSnapSize +7.5
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        momento.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(momento.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(momento.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });

        var tr = new Konva.Transformer({
          nodes: [momento],
          centeredScaling: false,
          resizeEnabled: false,
          rotationSnaps: [0],
          rotationSnapTolerance: 360,
        });
        layer.add(tr);
        layer.add(momento);
        stage.on('click tap', function (e) {
          if (e.target === momento) {
            tr.nodes([momento]);
          }
          // if click on empty area - remove all selections
          if (e.target === stage) {
            tr.nodes([]);
            return;
          }

          const metaPressed = e.evt.ctrlKey;
          const isSelected = tr.nodes().indexOf(e.target) >= 0;

          if (metaPressed && isSelected) {
            if (e.target === momento){
              dificultad -= 2
              }
            // if we pressed keys and node was selected
            // we need to remove it from selection:
            tr.nodes([]);
            const nodes = e.target.destroy(); // use slice to have new copy of array
            // remove node from array
          }
        });

        /// fuerza en momento

        var textNode = new Konva.Text({
          text: "F:" + magnitud,
          x: momento.x() + 20,
          y: momento.y() + 10,
          fontSize: 13,
          name: "textMoment_" + count.toString(),
          fill: 'balck',
        });

        var textInfo= new Konva.Text({
          text: "x:" + String(momento.x()) + " y:" + String(momento.y()) ,
          x: momento.x() + 20,
          y: momento.y() + 23,
          fontSize: 13,
          fill: 'black',
          

        });

        momento.on('dragend', (e) => {
          textInfo.position({
            x: Math.round(momento.x() / blockSnapSize) * blockSnapSize - 45,
            y: Math.round(momento.y() / blockSnapSize) * blockSnapSize + 33

          });
          stage.batchDraw();

          textInfo.text("X:" + String(momento.x()) + " Y:" + String(momento.y()) )
          
        });
  
        layer.add(textNode);
        layer.add(textInfo);

        momento.on('dragstart', (e) => {
					textNode.moveToTop();
				});
        
				momento.on('dragend', (e) => {

          textNode.position({
            x: Math.round((momento.x() ) / blockSnapSize) * blockSnapSize + 15,
            y: Math.round((momento.y() ) / blockSnapSize) * blockSnapSize + 15
          });
          
          stage.batchDraw();
          
				});
  
        textNode.on('dblclick dbltap', () => {
         
          var textPosition = textNode.getAbsolutePosition();
          var stageBox = stage.container().getBoundingClientRect();
  
          var areaPosition = {
            x: momento.x() + 15,
            y: momento.y() + 15,
          };
  
          // create textarea and style it
          var textarea = document.createElement('textarea');
          document.body.appendChild(textarea);
  
          textarea.value = textNode.text();
          textarea.style.position = 'absolute';
          textarea.style.top = areaPosition.y + 'px';
          textarea.style.left = areaPosition.x + 'px';
          textarea.style.width = textNode.width();
  
          textarea.focus();
  
          textarea.addEventListener('keydown', function (e) {
            // hide on enter
            if (e.keyCode === 13) {
              textNode.text(textarea.value);
              momento.magnitud = textarea.value;
              document.body.removeChild(textarea);
            }
          });
        });

        // fuerza en momento
      }

      function newPunto(x, y, layer, stage) {

        var punto = new Konva.Circle({
          x: x,
          y: y,
          radius: 7.5,
          fill: 'yellow',
          stroke: 'black',
          strokeWidth: 2,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true,
          name: "punto" 
        });

        punto.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          punto.moveToTop();
          console.log(punto.x(), punto.y())
          
        });
        punto.on('dragend', (e) => {
          punto.position({
            x: Math.round(punto.x() / blockSnapSize) * blockSnapSize + 15,
            y: Math.round(punto.y() / blockSnapSize) * blockSnapSize + 15
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        punto.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(punto.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(punto.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        layer.add(punto);

        var textInfo= new Konva.Text({
          text: "x:" + String(punto.x()) + " y:" + String(punto.y()) ,
          x: punto.x() - 40,
          y: punto.y() + 10,
          fontSize: 13,
          fill: 'black',
          

        });

        punto.on('dragend', (e) => {
          textInfo.position({
            x: Math.round(punto.x() / blockSnapSize) * blockSnapSize - 45,
            y: Math.round(punto.y() / blockSnapSize) * blockSnapSize + 0

          });
          stage.batchDraw();

          textInfo.text("X:" + String(punto.x()) + " Y:" + String(punto.y()) )
          
        });
  
        layer.add(textInfo);
        
      }

      
      var dificultad = parseInt($("#homework-details").data("homeworkDifficulty"));

      function toolBar(layer, stage, counter) {
        // PRETTY
        var separadorTool = new Konva.Line({
          points: [largo - 85, 0, largo - 85, 600],
          stroke: 'red',
          strokeWidth: 4,
          lineCap: 'round',
          lineJoin: 'round',
        });
        layer.add(separadorTool)
        
        // ARROW
        
      }
      
      
      
        let drawingLine = false;
        let line;
        stage.on('mousedown', (e) => {
          if (e.target.hasName('node')) {
            drawingLine = true;
            const pos = stage.getPointerPosition();
            line = new Konva.Line({
              stroke: 'black',
              strokeWidth: 7,
              // remove line from hit graph, so we can check intersections
              listening: false,
              points: [e.target.x(), e.target.y(), pos.x, pos.y]
            });
            layer.add(line);
          }
        });
        
        stage.on('mouseover', (e) => {
          if (e.target.hasName('node')) {
            e.target.stroke('black');
            layer.draw();
          }
        });
        
        stage.on('mouseout', (e) => {
          if (e.target.hasName('node')) {
            e.target.stroke(null);
            layer.draw();
          }
        });
        
        stage.on('mousemove', (e) => {
          if (!line) {
            return;
          }
          const pos = stage.getPointerPosition();
          const points = line.points().slice();
          points[2] = pos.x;
          points[3] = pos.y;
          line.points(points);
          layer.batchDraw();
        });
        
        stage.on('mouseup', (e) => {
          if (!line) {
            return;
          }
          if (!e.target.hasName('node')) {
            line.destroy();
            layer.draw();
            line = null;
          } else {
            let pos = e.target.getClientRect();
            const points = line.points().slice();
            points[2] = pos.x + (e.target.width()/2);
            points[3] = pos.y + (e.target.height()/2);;
            line.points(points);
            layer.batchDraw();
            line = null;
          }
          
        });

        function comparar(ejex, ejey){
          fx = $("#homework-details").data("homeworkFx").split("+")
          fy = $("#homework-details").data("homeworkFy").split("+")

          if(fx.length == ejex && fy.length == ejey){
            alert_message = "Felicidades, tu DCL esta completo"
            
            alert(alert_message) 
            location.href='{% url 'student_home' %}'
            return true
          }else if (fx.length != ejex && fy.length != ejey){
            alert_message = "Te falta agregar fuerzas en ambos ejes"
            
            alert(alert_message)
            return false
          }
          else if (fx.length != ejex && fy.length == ejey){
            alert_message = "Te falta agregar fuerzas en el eje x"
            
            alert(alert_message)
            return false
          }
          else if (fx.length == ejex && fy.length != ejey){
            alert_message = "Te falta agregar fuerzas en el eje y"
            
            alert(alert_message)
            return false
          }

        }

        shadowRectangle.hide();
        layer.add(shadowRectangle);

        //counter[ARROW, FIJO, DESLIZANTE, EMPOTRADO, ROTULA, BIELA, MOMENTO, PUNTO]
        counter = [0, 0, 0, 0, 0, 0, 0, 0]
        
        toolBar(layer, stage, counter);

        console.log(data)
        fuerzasTotales = loadForm(data, counter);
        

        fuerzas    = cambiarPos(   fuerzasTotales.fuerzas )
        momentos   = cambiarPosMom(fuerzasTotales.momentos )
        incognitas = cambiarPosInc(   fuerzasTotales.incognitas)


        descompuestas = descomponerFuerzas(fuerzas)


        sumas = {}
        
        if(fuerzasTotales.punto){
          sumas = calcularFXYM(incognitas, descompuestas.Fx, descompuestas.Fy, momentos, fuerzasTotales.punto)
        }
        else{
          sumas.strX = 0
          sumas.strY = 0
          sumas.strM = 0
        }
        
        stage.add(layer);
        layer.draw();
  </script>
    <div class="container" style="margin-top: 20px">
      <div id="selectedDetails" class="row mb-3"></div>

      
      
      <div class="row">
        <div class="col-sm">
          <input id="end_btn" type="button" 
          onclick="comparar(ejex, ejey)"
          value = "Terminar"/>
        </div>
        
        <div class="col-sm"></div>
        <div class="col-sm">
          <input id="next_btn" type="button" style="float: right;" onclick="location.href='{% url 'home_admin' %}'" value = "Salir"/>
        </div>
      </div>


    </div>
    <script> 

      function getCookie(name) {
    	  let cookieValue = null;
    	  if (document.cookie && document.cookie !== '') {
        	const cookies = document.cookie.split(';');
        	for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
        	}
    	  }
    	  return cookieValue;
	    }

      $(document).ready(function () {
			  let homework_id = $("#homework-details").data("homeworkId")
		  	let btn2 = document.getElementById("end_btn");
			  btn2.addEventListener('click', event => {
          
          });
          /*
          $.ajax({
				    url: `/statement/${homework_id}/`,
            type: "POST",
            data:{
	            "file_statement": fileData,
            },

					  processData: false,
  				  contentType: false, 

					  beforeSend: function (xhr) {
            	xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
       			},
            success: function (data) {
						  console.log("guardo archivo")
            },
            error: function (error) {
              console.log("no guardo archivo")
            }
        	});
        */
        
      });
    </script>
  </body>
</html>