<!doctype html>
<html lang="en">
<head ><!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="container">
            <div class="row" style="background-color: #393E46">
                <div class="col"></div>
                <div class="col text-center">
                    <h1 style="color: #EEEEEE">ITS Estática</h1>
                </div>
                <div class="col">
                    <input class="btn btn-link .text-nowrap" id="students_btn" type="button" onclick="location.href='{% url 'view_students' %}'" style="float: right; color: #EEEEEE" value = "Ver alumnos"/>
                </div>
            </div>
            <div class="row">
            <div style="max-height: 500px;overflow: auto;">
                <h3 style="margin-top:30px">Tareas</h3>
                <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Enunciado</th>
                        <th scope="col">Dificultad</th>
                        <th scope="col">Etapa inicial</th>
                        <th scope="col">Etapa final</th>
                        <th scope="col">Realizar 1</th>
                        <th scope="col">Realizar 2</th>
                        <th scope="col">Realizar 3</th>
                        <th scope="col">Editar</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for homework in homeworks %}
                        <tr>
                            <td>{{ homework.id }}</td>
                            <td>{{ homework.statement_file}}</td>
                            <td>{{ homework.difficulty }}</td>
                            <td>{{ homework.initial_stage }}</td>
                            <td>{{ homework.final_stage }}</td>
                            <td>
                                <input id="btn" type="button" style="float: left;" onclick="location.href='{% url 'diagram_forces' homework_id=homework.id %}'" value = "Realizar"/>
                            </td>
                            <td>
                                <input id="btn" type="button" style="float: left;" onclick="location.href='{% url 'edit_forces' homework_id=homework.id %}'" value = "Realizar"/>
                            </td>
                            <td>
                                <input id="btn" type="button" style="float: left;" onclick="location.href='{% url 'balance_equations' homework_id=homework.id %}'" value = "Realizar"/>
                            </td>
                            <td>
                                <input id="btn" type="button" style="float: left;" onclick="location.href='{% url 'edit_diagram' homework_id=homework.id %}'" value = "Editar"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                  
            </div>
            </div>
            <div class="text-end row" style="margin-top:10px">
                <form action="" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn text-white" style="background-color: #393E46" id="hidden-json-input" name= "json" value="{{ json }}">Crear tarea</button>                
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
