<!DOCTYPE html>
<html>
	<head>
		<script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
		<meta charset="utf-8" />
		<title>Editar fuerzas</title>
		<h2 style="margin_down:20; outline: black solid; text-align:center">Aca saldra un enunciado </h2>
		<style>
			body {
				margin_top: 20;
				margin_left: 20;
				overflow: hidden;
				background-color: #f0f0f0;
				outline: black solid
			}
		</style>
  	</head>
  	<body>
      <h6 id="homework-details" data-homework-id="{{ homework.id }}" data-homework-diagram = "{{ homework.diagram }}"></h6>
    
      <div id="container"></div>
      <script>
        var alto = window.innerHeight - 200;
        var largo = window.innerWidth - 30;
        var shadowOffset = 20;
        var tween = null;
        var blockSnapSize = 30;
        
        data = $("#homework-details").data("homeworkDiagram")
  
        //var stage = Konva.Node.create(data, "container")
  
        function loadForm(json){
          /*
          layer.find('Line').destroy();
          layer.find('Circle').destroy();
          layer.find('Arrow').destroy();
          layer.draw();
          */
          console.log("equis de");
          
          console.log(layer)
          
          console.log(json)
          objects=json["children"][0]["children"]
          console.log(objects["length"])
          
          for (var i = 0; i<objects["length"]; i++){
            console.log(objects[i]["className"]);
            
            //console.log(objects[i]["attrs"]["name"]);
  
            if(objects[i]["className"]=="Rect"){
              if(objects[i]["attrs"]["name"]=='barra'){
                  item=objects[i]
                  
                  newBarra(item["attrs"]["x"], item["attrs"]["y"], layer, stage)
                  
                }
          }
            
            if(objects[i]["className"]=="Arc"){
                if(objects[i]["attrs"]["name"]=='momento'){
                    item=objects[i]
                    console.log("obj: ",item);
                    console.log(item["attrs"]["x"], item["attrs"]["y"])
                    newMomento(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage)
                    
                  }
            }
            if(objects[i]["className"]=="Arrow"){
              console.log("PILLE UNA FLECHA")
              console.log(objects[i]["attrs"]["name"])
              if(objects[i]["attrs"]["name"]=='arrow'){
                  item=objects[i]
                  newArrow(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage)
              }
            }
            if(objects[i]["className"]=="RegularPolygon"){
              if(objects[i]["attrs"]["name"]=='fijo'){
                  item=objects[i]
                  newFijo(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage)
              }
            }
            if(objects[i]["className"]=="Group"){
              if(objects[i]["attrs"]["name"]=='deslizante'){
                  item=objects[i]
                  newDeslizante(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage)
              }
              else if(objects[i]["attrs"]["name"]=='empotrado'){
                item=objects[i]
                newEmpotrado(item["attrs"]["x"], item["attrs"]["y"], item["attrs"]["rotation"], layer, stage) 
              }
            }
            if(objects[i]["className"]=="Circle" || objects[i]["className"]=="Line"){
              if(objects[i]["attrs"]["name"]=='rotula'){
                item=objects[i]
                newRotula(item["attrs"]["x"], item["attrs"]["y"], layer, stage) 
              }
              else if(objects[i]["attrs"]["name"]=='biela1'){
                item=objects[i]
                x1 = item["attrs"]["x"]
                y1 = item["attrs"]["y"]
  
                if(typeof(x1) != "undefined" && typeof(x2) != "undefined" && typeof(y1) != "undefined" && typeof(y2)){
                  newBiela( x1, y1, x2, y2, layer, stage)
                }
              }
              else if(objects[i]["attrs"]["name"]=='biela2'){
                item=objects[i]
                x2 = item["attrs"]["x"]
                y2 = item["attrs"]["y"]
                if(typeof(x1) != "undefined" && typeof(x2) != "undefined" && typeof(y1) != "undefined" && typeof(y2)){
                  newBiela( x1, y1, x2, y2, layer, stage)
                }
              }
            }
          }   
        }
  
        console.log("data entrandte:");
        console.log(data["children"][0]["children"]);
        console.log("fin");
  
        const stage = new Konva.Stage({
            container: 'container',
            width: largo,
            height: alto
          });
      
        
        var layer = new Konva.Layer();
          
        var padding = 30;
        for (var i = 0; i < (largo / padding) - 2; i++) {
          layer.add(new Konva.Line({
            points: [Math.round(i * padding) + 0.5, 0, Math.round(i * padding) + 0.5, alto],
            stroke: '#000000',
            strokeWidth: 1,
          }));
        }
        layer.add(new Konva.Line({points: [0,0,10,10]}));
        
        for (var j = 0; j < (largo / padding); j++) {
          layer.add(new Konva.Line({
            points: [0, Math.round(j * padding), largo - 85, Math.round(j * padding)],
            stroke: '#000000',
            strokeWidth: 0.5,
          }));
        }
  
        function newArrow(x, y, rotation, layer, stage) {
          var arrow = new Konva.Arrow({
            x: x,
            y: y,
            points: [0, 0, 75, 0],
            pointerLength: 2,
            pointerWidth: 2,
            fill: 'black',
            stroke: 'black',
            strokeWidth: 4,
            draggable: false,
            rotation: 0,
            rotation: rotation,
          });
          layer.add(arrow);
        }
  
        function newFijo(x, y, rotation, layer, stage) {
          let fijo = new Konva.RegularPolygon({
            x: x,
            y: y,
            sides: 3,
            radius: 15,
            fill: 'grey',
            stroke: 'black',
            strokeWidth: 2,
            draggable: false,
            rotation: rotation,
          });
          layer.add(fijo);
          stage.on('click tap', function (e) {
            if (e.target === fijo) {
              newCorrect(e.target.x,e.target.y, layer, stage);
            }
          });
        }
        function newDeslizante(x, y, rotation, layer, stage) {
          var deslizante = new Konva.Group({
            x: x,
            y: y,
            draggable: false,
            rotation: rotation,
          });
          var deslizanteT = new Konva.RegularPolygon({
            x: 15,
            y: -13,
            sides: 3,
            radius: 15,
            fill: 'gray',
            stroke: 'black',
            strokeWidth: 2,
          });
          var deslizanteL = new Konva.Line({
            points: [0, 0, 30, 0],
            stroke: 'red',
            strokeWidth: 4,
            lineCap: 'round',
            lineJoin: 'round',
          });
          deslizante.add(deslizanteT);
          deslizante.add(deslizanteL);
          layer.add(deslizante);

          stage.on('click tap', function (e) {
            if (e.target === deslizante) {
              newCorrect(e.target.x,e.target.y, layer, stage);
            }
          });
        }

        function newEmpotrado(x, y, rotation, layer, stage) {
          var empotrado= new Konva.Group({
            x: x,
            y: y,
            draggable: false,
            rotation: rotation,
          });
  
          var empotrado1 = new Konva.Line({
            points: [15, 0, 15, -25],
            stroke: 'red',
            strokeWidth: 4,
            lineCap: 'round',
            lineJoin: 'round',
          });
          var empotrado2 = new Konva.Line({
            points: [0, 0, 30, 0],
            stroke: 'red',
            strokeWidth: 4,
            lineCap: 'round',
            lineJoin: 'round',
          });
          empotrado.add(empotrado1);
          empotrado.add(empotrado2);
          layer.add(empotrado);

          stage.on('click tap', function (e) {
            if (e.target === empotrado) {
              newCorrect(e.target.x,e.target.y, layer, stage);
            }
          });
        }

        function newRotula(x, y, layer, stage) {
          console.log("AQUI ENTRO A UNA ROTULA")
          var rotula = new Konva.Circle({
            x: x,
            y: y,
            radius: 15,
            fill: 'red',
            stroke: 'black',
            strokeWidth: 2,
            draggable: false,
          });
          layer.add(rotula);
          stage.on('click tap', function (e) {
            if (e.target === rotula) {
              newCorrect(e.target.x,e.target.y, layer, stage);
            }
          });
        }

        function newBiela(x1, y1, x2=x1+30, y2=y1, layer, stage) {
          var b1 = new Konva.Circle({
            x: x1,
            y: y1,
            radius: 15,
            fill: 'green',
            stroke: 'black',
            strokeWidth: 2,
            draggable: false,
          });
          var b2 = new Konva.Circle({
            x: x2,
            y: y2,
            radius: 15,
            fill: 'green',
            stroke: 'black',
            strokeWidth: 2,
            draggable: false,
          });
          const line = new Konva.Line({
            points: [x1,y1,x2,y2],
            stroke: 'green',
          });
          layer.add(line);
          layer.add(b1);
          layer.add(b2);

          stage.on('click tap', function (e) {
            if (e.target === biela) {
              newCorrect(e.target.x,e.target.y, layer, stage);
            }
          });
        }

        function newBarra(x, y, layer, stage) {
          var barra = new Konva.Rect({
            x: x,
            y: y,
            width: 30,
            height: 30,
            fill: 'gray',
            stroke: 'black',
            strokeWidth: 1,
            draggable: false,
          });
          layer.add(barra);
        }

        function newMomento(x, y, rotation, layer, stage, name = null) {
        
          let momento = new Konva.Arc({
            x: x,
            y: y,
            innerRadius: 10,
            outerRadius: 20,
            angle: 180,
            fill: 'yellow',
            stroke: 'black',
            strokeWidth: 4,
            draggable: false,
            rotation: rotation,
          });
          layer.add(momento);
        }

        function newCorrect(x, y, layer, stage) {
          var correct = new Konva.Rect({
            x: x,
            y: y,
            width: 30,
            height: 30,
            fill: rgba(0, 255, 0, 0.5),
            stroke: 'green',
            strokeWidth: 1,
            draggable: false,
            name: "correct",
          });
          layer.add(correct);
        }

        loadForm(data);
        
        stage.add(layer);
        layer.draw();
    </script>
    <div>
      <input id="btn_save" type="button" style="float: left;" value = "Guardar"/>
      <input id="next_btn" type="button" style="float: right;" onclick="location.href='{% url 'diagram_forces' homework_id=homework.id %}'" value = "Siguiente etapa"/>
    </div>
  </body>
</html>