<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/konva@8.3.12/konva.min.js"></script>
    <meta charset="utf-8" />
    <title>Estatica</title>
    <h2 style="margin_down:20; outline: black solid; text-align:center">Aca saldra un enunciado </h2>
    <style>
      body {
        margin_top: 20;
        margin_left: 20;
        overflow: hidden;
        background-color: #f0f0f0;
        outline: black solid
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <script>
      var alto = 600
      var largo = 1500
      var shadowOffset = 20;
      var tween = null;
      var blockSnapSize = 30;

      var shadowRectangle = new Konva.Rect({
        x: 0,
        y: 0,
        width: blockSnapSize,
        height: blockSnapSize,
        fill: '#FF7B17',
        opacity: 0.6,
        stroke: '#CF6412',
        strokeWidth: 3,
        dash: [20, 2]
      });

      const stage = new Konva.Stage({
          container: 'container',
          width: largo,
          height: alto
        });
          
      var layer = new Konva.Layer();
        
      /* var cir = new Konva.Circle({
        radius: 2,
        fill: 'grey',
        name: 'node'
      }); */
        
      var padding = 30;
      for (var i = 0; i < largo / padding; i++) {
        layer.add(new Konva.Line({
          points: [Math.round(i * padding) + 0.5, 0, Math.round(i * padding) + 0.5, alto],
          stroke: '#000000',
          strokeWidth: 1,
        }));
        
      }
      layer.add(new Konva.Line({points: [0,0,10,10]}));
      
      for (var j = 0; j < largo / padding; j++) {
        layer.add(new Konva.Line({
          points: [0, Math.round(j * padding), largo, Math.round(j * padding)],
          stroke: '#000000',
          strokeWidth: 0.5,
        }));
      }
        
      for(var j = 30; j < alto; j+=30){
        for(var i = 30; i < largo; i+=30){

          var cir = new Konva.Circle({
            x: i,
            y: j,
            radius: 4,
            fill: 'grey',
            name: 'node'
          });

          layer.add(cir);
          }
      }

      function newRectangle(x, y, layer, stage) {
        let rectangle = new Konva.Rect({
          x: x,
          y: y,
          width: blockSnapSize ,
          height: blockSnapSize ,
          fill: '#fff',
          stroke: '#ddd',
          strokeWidth: 1,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true
        });
        rectangle.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          rectangle.moveToTop();
        });
        rectangle.on('dragend', (e) => {
          rectangle.position({
            x: Math.round(rectangle.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(rectangle.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        rectangle.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(rectangle.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(rectangle.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        layer.add(rectangle);
      }

      function newArrow(x, y, layer, stage, tilt, offsetx, offsety) {
        var arrow = new Konva.Arrow({
          x: x,
          y: y,
          points: [0, 0, 20, 10],
          pointerLength: 2,
          pointerWidth: 2,
          rotation: tilt,
          fill: 'black',
          stroke: 'black',
          strokeWidth: 4,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true
        });

        arrow.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          arrow.moveToTop();
        });
        arrow.on('dragend', (e) => {
          arrow.position({
            x: (Math.round(arrow.x() / blockSnapSize) * blockSnapSize) + offsetx,
            y: (Math.round(arrow.y() / blockSnapSize) * blockSnapSize) + offsety,

          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        arrow.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(arrow.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(arrow.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        /*
        var tr2 = new Konva.Transformer({
          nodes: [arrow],
          centeredScaling: false,
        });
        layer.add(tr2);
        */
        layer.add(arrow);

      }

      function newFijo(x, y, layer, stage) {
        let fijo = new Konva.RegularPolygon({
          x: x,
          y: y,
          sides: 3,
          radius: 15,
          fill: 'grey',
          stroke: 'black',
          strokeWidth: 2,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true
        });
        fijo.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          fijo.moveToTop();
        });
        fijo.on('dragend', (e) => {
          fijo.position({
            x: Math.round(fijo.x() / blockSnapSize) * blockSnapSize +15,
            y: Math.round(fijo.y() / blockSnapSize) * blockSnapSize + 15
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        fijo.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(fijo.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(fijo.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        layer.add(fijo);
      }

      function newDeslizante(x, y, layer, stage) {
        var deslizante = new Konva.Group({
          x: x,
          y: y,

          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true
        });

        var deslizanteT = new Konva.RegularPolygon({
          x: 15,
          y: -13,
          sides: 3,
          radius: 15,
          fill: 'gray',
          stroke: 'black',
          strokeWidth: 2,
        });

        var deslizanteL = new Konva.Line({
          points: [0, 0, 30, 0],
          stroke: 'red',
          strokeWidth: 4,
          lineCap: 'round',
          lineJoin: 'round',
         
        });
        deslizante.add(deslizanteT);
        deslizante.add(deslizanteL);

        deslizante.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          deslizante.moveToTop();
        });
        deslizante.on('dragend', (e) => {
          deslizante.position({
            x: Math.round(deslizante.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(deslizante.y() / blockSnapSize) * blockSnapSize + 30
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        deslizante.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(deslizante.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(deslizante.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        layer.add(deslizante);
      }

      function newEmpotrado(x, y, layer, stage) {
        var empotrado= new Konva.Group({
          x: x,
          y: y,

          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: true
        });

        var empotrado1 = new Konva.Line({
          points: [15, 0, 15, -25],
          stroke: 'red',
          strokeWidth: 4,
          lineCap: 'round',
          lineJoin: 'round',
          
        });

        var empotrado2 = new Konva.Line({
          points: [0, 0, 30, 0],
          stroke: 'red',
          strokeWidth: 4,
          lineCap: 'round',
          lineJoin: 'round',
          
        });
        empotrado.add(empotrado1);
        empotrado.add(empotrado2);

        empotrado.on('dragstart', (e) => {
          shadowRectangle.show();
          shadowRectangle.moveToTop();
          empotrado.moveToTop();
        });
        empotrado.on('dragend', (e) => {
          empotrado.position({
            x: Math.round(empotrado.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(empotrado.y() / blockSnapSize) * blockSnapSize + 30
          });
          stage.batchDraw();
          shadowRectangle.hide();
        });
        empotrado.on('dragmove', (e) => {
          shadowRectangle.position({
            x: Math.round(empotrado.x() / blockSnapSize) * blockSnapSize,
            y: Math.round(empotrado.y() / blockSnapSize) * blockSnapSize
          });
          stage.batchDraw();
        });
        layer.add(empotrado);
      }

      function toolBar(layer, stage) {
        let rectangle = new Konva.Rect({
          x: 1400,
          y: 10,
          width: blockSnapSize ,
          height: blockSnapSize,
          fill: '#fff',
          stroke: '#ddd',
          strokeWidth: 1,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: false,
        });
        rectangle.on('pointerdown', function () {
          newRectangle(blockSnapSize * 17, blockSnapSize * 3, layer, stage);
        });

        let arrowVert = new Konva.Arrow({
          x: 1400,
          y: 50,
          points: [0, 0, 20, 10],
          pointerLength: 2,
          pointerWidth: 2,
          rotation: 62,
          fill: 'black',
          stroke: 'black',
          strokeWidth: 4,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: false,
        });
        arrowVert.on('pointerdown', function () {
          newArrow(blockSnapSize * 17, blockSnapSize * 3, layer, stage, 62, 15, 0);
        });

        let arrowHor = new Konva.Arrow({
          x: 1415,
          y: 60,
          points: [0, 0, 20, 10],
          pointerLength: 2,
          pointerWidth: 2,
          rotation: -25,
          fill: 'black',
          stroke: 'black',
          strokeWidth: 4,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: false,
        });
        arrowHor.on('pointerdown', function () {
          newArrow(blockSnapSize * 17, blockSnapSize * 3, layer, stage, -25, 0, 15);
        });
        
        let arrowDiag = new Konva.Arrow({
          x: 1450,
          y: 55,
          points: [0, 0, 20, 10],
          pointerLength: 2,
          pointerWidth: 2,
          rotation: 15,
          fill: 'black',
          stroke: 'black',
          strokeWidth: 4,
          shadowColor: 'black',
          shadowBlur: 2,
          shadowOffset: {x : 1, y : 1},
          shadowOpacity: 0.4,
          draggable: false,
        });
        arrowDiag.on('pointerdown', function () {
          newArrow(blockSnapSize * 17, blockSnapSize * 3, layer, stage, 15, 0, 0);
        });

        var fijo = new Konva.RegularPolygon({
          x: 1420,
          y: 100,
          sides: 3,
          radius: 10,
          fill: 'gray',
          stroke: 'black',
          strokeWidth: 2,
        });

        fijo.on('pointerdown', function () {
          newFijo(blockSnapSize * 17, blockSnapSize * 3, layer, stage);
        });

        var deslizante = new Konva.Group({
          x: 1420,
          y: 150,
        });

        var deslizanteT = new Konva.RegularPolygon({
          x: 15,
          y: -10,
          sides: 3,
          radius: 10,
          fill: 'gray',
          stroke: 'black',
          strokeWidth: 2,
        });

        var deslizanteL = new Konva.Line({
          points: [0, 0, 30, 0],
          stroke: 'red',
          strokeWidth: 4,
          lineCap: 'round',
          lineJoin: 'round',
          
        });

        deslizante.add(deslizanteT);
        deslizante.add(deslizanteL);

        deslizante.on('pointerdown', function () {
          newDeslizante(blockSnapSize * 17, blockSnapSize * 3, layer, stage);
        });

      var empotrado = new Konva.Group({
        x: 1420,
        y: 200,
      });

      var empotrado1 = new Konva.Line({
        points: [15, 0, 15, -25],
        stroke: 'red',
        strokeWidth: 4,
        lineCap: 'round',
        lineJoin: 'round',
        
      });


      var empotrado2 = new Konva.Line({
        points: [0, 0, 30, 0],
        stroke: 'red',
        strokeWidth: 4,
        lineCap: 'round',
        lineJoin: 'round',
        
      });

      empotrado.add(empotrado1);
      empotrado.add(empotrado2);

      empotrado.on('pointerdown', function () {
        newEmpotrado(blockSnapSize * 17, blockSnapSize * 3, layer, stage);
      });
        
        layer.add(rectangle);
        layer.add(arrowVert);
        layer.add(arrowHor);
        layer.add(arrowDiag);
        layer.add(fijo);
        layer.add(deslizante);
        layer.add(empotrado)

      }
        
        
        
        
        
        
        
        
        let drawingLine = false;
        let line;
        stage.on('mousedown', (e) => {
          if (e.target.hasName('node')) {
            drawingLine = true;
            const pos = stage.getPointerPosition();
            line = new Konva.Line({
              stroke: 'black',
              strokeWidth: 7,
              // remove line from hit graph, so we can check intersections
              listening: false,
              points: [e.target.x(), e.target.y(), pos.x, pos.y]
            });
            layer.add(line);
          }
        });
        
        stage.on('mouseover', (e) => {
          if (e.target.hasName('node')) {
            e.target.stroke('black');
            layer.draw();
          }
        });
        
        stage.on('mouseout', (e) => {
          if (e.target.hasName('node')) {
            e.target.stroke(null);
            layer.draw();
          }
        });
        
        stage.on('mousemove', (e) => {
          if (!line) {
            return;
          }
          const pos = stage.getPointerPosition();
          const points = line.points().slice();
          points[2] = pos.x;
          points[3] = pos.y;
          line.points(points);
          layer.batchDraw();
        });
        
        stage.on('mouseup', (e) => {
          if (!line) {
            return;
          }
          if (!e.target.hasName('node')) {
            line.destroy();
            layer.draw();
            line = null;
          } else {
            let pos = e.target.getClientRect();
            const points = line.points().slice();
            points[2] = pos.x + (e.target.width()/2);
            points[3] = pos.y + (e.target.height()/2);;
            line.points(points);
            layer.batchDraw();
            line = null;
          }
          
        });

        shadowRectangle.hide();
        layer.add(shadowRectangle);

        toolBar( layer, stage);
        
        stage.add(layer);
        layer.draw();
    </script>
  </body>
</html>