<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <span class="hello-msg">Hola!, {{request.user.first_name}} {{request.user.last_name}}</span>
    <div>
        <input class="btn" id="next_homework_btn" type="button" onclick="location.href='{% url 'view_students' %}'" value = "Siguiente tarea"/>
    </div>
    <span class="hello-msg">{{ score }}</span>
    
</body>
</html>